.block5 {
  padding: 50px 0;
  background-color: #ffffff;
  background-image: url("../img/bg-block5-mob@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 85%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-block5-mob@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-block5-tab@1x.jpg");
    background-position-y: 90%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-tab@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-block5-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-desktop@2x.jpg");
    }
  }
}

.block5__list-wrap {
  /*эта обвертка нужна для позиционирования .circle*/
  position: relative;
  width: 290px;
  margin: 0 auto;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
  }
}

.block5__list {
  outline: 1px dotted darkblue;
  position: relative;
  min-height: 720px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 780px;
    background-image: url("../img/bg-block5-dashed-circles-tab@1x.png");
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-dashed-circles-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 0;
    width: 670px;
    min-height: 775px;
    background-image: url("../img/bg-block5-dashed-circles-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-dashed-circles-desktop@2x.png");
    }
  }

  &::after {
    outline: 1px dotted green;

    content: "";
    position: absolute;
    top: -80px;
    left: -20px;
    width: 98px;
    height: 842px;
    background-image: url("../img/bg-block5-dashed-circles-mob@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-dashed-circles-mob@2x.png");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.block5__list-item {
  outline: 1px dotted blue;
  position: absolute;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -45px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: radial-gradient(red 5px, coral 5px);
  }

  &:nth-child(1) {
    top: 0;
    left: 90px;

    @media (min-width: $tablet-width) {
      left: 280px;
    }
  }

  &:nth-child(2) {
    top: 140px;
    left: 115px;

    @media (min-width: $tablet-width) {
      left: 375px;
    }
  }

  &:nth-child(3) {
    top: 280px;
    left: 125px;

    @media (min-width: $tablet-width) {
      left: 446px;
    }
  }

  &:nth-child(4) {
    top: 420px;
    left: 105px;

    @media (min-width: $tablet-width) {
      left: 500px;
    }
  }

  &:nth-child(5) {
    top: 560px;
    left: 75px;

    @media (min-width: $tablet-width) {
      left: 510px;
    }
  }
}
