.block8 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.block8__wrapper {
  width: 290px;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    width: 1146px;
  }
}

.block8__img-wrap {
  width: 290px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0;
  }
}

.block8__img {
  outline: 1px dotted red;

  display: block;
  width: 290px;
  height: 290px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 290px;
    height: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 307px;
    height: 311px;
  }
}

.block8__title {
  margin-bottom: 40px;
  font-size: $font-size--large;
  text-transform: none;
  color: $color-second;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: -350px;
  }
}

.block8__list {
  outline: 1px dotted red;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.block8__list-item-wrap {
  width: 290px;

  @media (min-width: $tablet-width) {
    &--wide {
      width: 450px;
    }
  }

  &--bg1 {
    background-image: url("../img/bg-block8-list-01-mob@1x.png");
    background-repeat: no-repeat;
    background-position: -25px top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block8-list-01-mob@2x.png");
    }
  }

  &--bg2 {
    background-image: url("../img/bg-block8-list-02-mob@1x.png");
    background-repeat: no-repeat;
    background-position: -25px top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block8-list-02-mob@2x.png");
    }
  }
}

.block8__list-item {
  outline: 1px dotted dodgerblue;

  margin-bottom: 30px;
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
  }
}

.block8__list2 {
  outline: 1px dotted red;

  width: 290px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1146px;
    justify-content: space-between;
  }
}

.block8__list2-item {
  outline: 1px dotted dodgerblue;

  display: flex;
  //flex-wrap: wrap;
  align-items: center;

  &:nth-child(1) {
    order: 1;
  }

  &:nth-child(2) {
    order: 2;
  }

  &:nth-child(3) {
    order: 3;
  }

  &:nth-child(4) {
    order: 4;
  }

  @media (min-width: $tablet-width) {
    width: 340px;

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 250px;
    text-align: center;
  }
}

.block8__list2-count {
  margin-right: 45px;
  font-family: $font-family-h1;
  font-size: $font-size-h1 - 2px;
  line-height: 1em;
  color: $color-second;

  @media (min-width: $tablet-width) {
    font-size: $font-size-h1 + 18px;
  }
}
