.block1 {
  outline: 1px dotted red;

  padding-top: 30px;
  padding-bottom: 90px;

  @media (min-width: $tablet-width) {
    width: 720px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 55px;
    background-image: url("../img/bg-block1-dashed-zigzag-tab@1x.png");
    background-repeat: no-repeat;
    background-position: center 220px;

    // @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    //   background-image: url("../img/bg-block1-dashed-zigzag-tab@2x.png");
    // }
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    //padding-top: 120px;
    background-image: url("../img/bg-block1-dashed-zigzag-desktop@1x.png");
    background-position: 150px 250px;

    // @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    //   background-image: url("../img/bg-block1-dashed-zigzag-desktop@2x.png");
    // }
  }
}
