.block5 {
  padding: 45px 0 0 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    background-image: url("../img/bg-block5-tab@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 90%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-tab@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    padding-bottom: 50px;

    background-image: url("../img/bg-block5-desktop@1x.jpg");
    background-position-y: bottom;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-desktop@2x.jpg");
    }
  }
}

.block5__list-wrap {
  /*эта обвертка нужна для позиционирования .circle*/
  position: relative;
  width: 290px;
  margin: 0 auto;
  margin-top: 65px;

  @media (min-width: $tablet-width) {
    width: 720px;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    margin-top: 35px;
  }
}

.block5__list {
  position: relative;
  z-index: 20;
  min-height: 720px;
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 680px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 0;
    width: 670px;
    min-height: 700px;
  }

  &::after {
    outline: 1px dotted red;
    content: "";
    position: absolute;
    top: -150px;
    left: -20px;
    width: 98px;
    height: 842px;
    background-image: url("../img/bg-block5-dashed-circles-mob@1x.png");
    background-repeat: no-repeat;
    background-size: 98px 736px;
    background-position: center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block5-dashed-circles-mob@2x.png");
    }

    @media (min-width: $tablet-width) {
      top: -70px;
      left: 90px;
      width: 338px;
      height: 782px;
      background-image: url("../img/bg-block5-dashed-circles-tab@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-block5-dashed-circles-tab@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      top: -70px;
      left: 0;
      width: 338px;
      height: 782px;
      background-image: url("../img/bg-block5-dashed-circles-desktop@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-block5-dashed-circles-tab@2x.png");
      }
    }
  }
}

.block5__list-item {
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 235px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -45px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: radial-gradient(red 5px, coral 5px);

    @media (min-width: $tablet-width) {
      top: 0;
      left: -70px;
    }

    @media (min-width: $desktop-width) {
      left: -80px;
    }
  }

  &:nth-child(1) {
    top: 0;
    left: 70px;
    padding-right: 50px;

    @media (min-width: $tablet-width) {
      left: 252px;
    }

    @media (min-width: $desktop-width) {
      left: 175px;
    }
  }

  &:nth-child(2) {
    top: 135px;
    left: 100px;

    @media (min-width: $tablet-width) {
      top: 120px;
      left: 355px;
    }

    @media (min-width: $desktop-width) {
      left: 275px;
    }
  }

  &:nth-child(3) {
    top: 270px;
    left: 110px;

    @media (min-width: $tablet-width) {
      top: 240px;
      left: 425px;
    }

    @media (min-width: $desktop-width) {
      left: 343px;
    }
  }

  &:nth-child(4) {
    top: 425px;
    left: 90px;

    @media (min-width: $tablet-width) {
      top: 390px;
      left: 472px;
    }

    @media (min-width: $desktop-width) {
      left: 390px;
    }
  }

  &:nth-child(5) {
    top: 565px;
    left: 40px;

    @media (min-width: $tablet-width) {
      top: 555px;
      left: 490px;
    }

    @media (min-width: $desktop-width) {
      left: 410px;
    }
  }
}
