.block11 {
  position: relative;
  z-index: 20;
  margin-top: -36px;
  padding: 75px 15px 130px 15px;
  background: $gray-base;

  background-image: url("../img/bg-block-11-mob@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;

  // @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  //   background-image: url("../img/bg-block-11-mob@2x.jpg");
  // }

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 150px;

    background-image: url("../img/bg-block-11-tab@1x.jpg");

    // @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    //   background-image: url("../img/bg-block-11-tab@2x.jpg");
    // }
  }

  @media (min-width: $desktop-width) {
    min-height: 889px;
    margin-top: -60px;
    padding-top: 180px;
    padding-bottom: 270px;

    background-image: url("../img/bg-block-11-desk@1x.jpg");

    // @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    //   background-image: url("../img/bg-block-11-desk@2x.jpg");
    // }
  }
}

.block11__wrap {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 370px;
  }
}

.block11__title {
  margin-bottom: 20px;
  font-family: $font-family-h1;
  font-size: $font-size-h2 + 12px;
  line-height: 1em;
  text-align: left;
  letter-spacing: 2px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: $font-size-h2 + 29px;
    letter-spacing: 2.5px;
  }
}

.block11__text {
  margin-bottom: 40px;
  color: #ffffff;
}
