.block2 {
  min-height: 1388px;
  padding: 130px 15px 100px 15px;

  background-image: url("../img/bg-block2-mob@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-block2-mob@2x.png");
  }

  @media (min-width: $tablet-width) {
    min-height: 900px;
    padding-top: 170px;

    background-image: url("../img/bg-block2-tab@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block2-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 930px;
    padding-top: 195px;

    background-image: url("../img/bg-block2-desk@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block2-desk@2x.png");
    }
  }
}

.block2__wrapper {
  outline: 1px dotted darkviolet;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 5px 4px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
  }

  &--border {
    background-image: url("../img/bg-border-red-mob@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-border-red-mob@2x.png");
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;

      background-image: url("../img/bg-border-red-tab@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-border-red-tab@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
      background-image: url("../img/bg-border-red-desk@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-border-red-desk@2x.png");
      }
    }
  }

  &--no-border {
    @media (min-width: $tablet-width) {
      padding-left: 155px;
    }
  }
}

.block2__title1 {
  padding: 65px 15px 100px 40px;
  font-size: $font-size-h2 - 4px;
  line-height: $line-height-auto;
  hyphens: auto;
  color: #ffffff;

  background-image: url("../img/bg-block2-02-mob@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-block2-02-mob@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 270px;
    padding: 110px 10px 120px 30px;
    font-size: $font-size-h2;

    background-image: url("../img/bg-block2-02-tab@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block2-02-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 425px;
    padding: 110px 50px 100px 70px;

    background-image: url("../img/bg-block2-02-desk@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-block2-02-desk@2x.png");
    }
  }
}

.block2__part1-wrap {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 415px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    padding-top: 15px;
  }
}

.block2__inner {
  padding: 15px 15px 15px 15px;

  @media (min-width: $tablet-width) {
    padding-left: 5px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  &--last-child {
    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  &--part2 {
    padding-left: 0;

    @media (min-width: $tablet-width) {
      padding-top: 20px;
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 5px;
    }
  }
}

.block2__inner-wrap {
  outline: 1px dotted red;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.block2__inner-text {
  margin-right: 20px;
  font-family: $font-family-h1;
  font-size: $font-size-h2 + 10px;
  line-height: 0.7em;
  color: rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    font-size: $font-size-h2 * 2;
  }
}

.block2__inner-title {
  color: #ffffff;
}

.block2__item {
  color: #ffffff;
}

.block2__title2-wrap {
  @media (min-width: $tablet-width) {
    width: 360px;
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.block2__title2 {
  position: relative;
  display: block;
  padding: 20px 70px 25px 0;
  font-size: $font-size-h2;
  line-height: $line-height-auto;
  text-align: left;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 200px;
    padding-right: 0;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    margin-left: 0;
    margin-right: auto;
    padding: 0;
    padding-right: 50px;
  }

  &::before {
    content: "!";
    position: absolute;
    top: 5px;
    right: -10px;
    width: 106px;
    height: 116px;
    font-family: $font-family-h1;
    font-size: $font-size-h2 + 40px;
    line-height: 128px;
    text-align: center;
    background-image: url("../img/bg-blur-red-mob@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-blur-red-mob@2x.png");
    }

    @media (min-width: $tablet-width) {
      left: -150px;
      right: auto;
    }
  }
}

.block2__part2-wrapper {
  //width: 290px;

  @media (min-width: $desktop-width) {
    outline: 2px dotted red;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 715px;
  }
}
