.btn {
  outline: 1px dotted yellow;

  box-sizing: border-box;
  display: inline-block;
  width: 290px;
  overflow: hidden;
  margin: 0;
  border: 0;
  padding-top: $btn-padding-vertical-top;
  padding-bottom: $btn-padding-vertical-bottom;
  white-space: nowrap;
  user-select: none;
  font-family: $font-family;
  font-size: $font-size--larger;
  line-height: 1em;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  background-image: url("../img/bg-btn@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: url("../img/bg-pointer.cur"), pointer;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-btn@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: $btn-padding-vertical-top + 5px;
    padding-bottom: $btn-padding-vertical-bottom + 5px;
  }

  &:hover {
    background-image: url("../img/bg-btn-hover@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-btn-hover@2x.png");
    }
  }

  &--block11 {
    @media (min-width: $desktop-width) {
      display: block;
      margin: 0 auto;
    }
  }
}
