.caption {
  position: relative;
  width: 100%;
  height: 90px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    height: 155px;
    margin: 0 auto;
  }

  &--block1 {
    margin-bottom: 115px;

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
    }
  }

  &--block3 {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }

  &--block5 {
    height: 130px;

    @media (min-width: $desktop-width) {
      height: 216px;
    }
  }
}

.caption__text {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);

  width: 290px;

  font-size: $font-size-h2;
  line-height: $line-height-auto;
  text-align: center;
  color: $color-second;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: $font-size-h2 + 12px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: $font-size-h2 + 32px;
  }

  &--block5 {
    top: 50%;
  }
}

.caption__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  font-family: $font-family-h1;
  font-size: $font-size-h1 - 2px;
  line-height: $line-height-auto;
  white-space: nowrap;
  color: $gray--darken;
  opacity: 0.1;

  @media (min-width: $tablet-width) {
    font-size: $font-size-h1 + 28px;
    letter-spacing: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-h1 + 78px;
    letter-spacing: 10px;
  }

  &--block3 {
    font-size: $font-size-h1 + 18px;
  }

  &--block5 {
    top: 60%;
    font-size: $font-size-h1 + 18px;
  }

  &--block7 {
    color: #ffffff;
    opacity: 1;

    @media (min-width: $tablet-width) {
      color: $gray--darken;
      opacity: 0.1;
    }
  }
}
