.card2 {
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 360px;
    margin-bottom: 30px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
  }

  &:nth-child(2n + 2) {
    @media (min-width: $tablet-width) {
      padding-left: 15px;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-left: 140px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  &--grid01 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &--grid02 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  &--grid03 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  &--grid04 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  &--grid05 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }
}

.card2__wrap {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(40px, auto);
    column-gap: 0%;

    width: 1140px;
  }
}

.card2__inner-text {
  display: block;
  width: 100%;

  font-family: $font-family-h1;
  font-size: 140px;
  line-height: 1em;

  color: rgba(0, 0, 0, 0);

  background-color: #555555;
  background-clip: text;

  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: 45px;
    font-size: $font-size-h1 * 2;
    line-height: 0.9em;
  }

  &--bg1 {
    background-image: url("../img/bg-card2-01-mob@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-card2-01-mob@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-card2-01-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-card2-01-desktop@2x.jpg");
      }
    }
  }

  &--bg2 {
    background-image: url("../img/bg-card2-02-mob@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-card2-02-mob@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-card2-02-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-card2-02-desktop@2x.jpg");
      }
    }
  }

  &--bg3 {
    background-image: url("../img/bg-card2-03-mob@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-card2-03-mob@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-card2-03-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-card2-03-desktop@2x.jpg");
      }
    }
  }

  &--bg4 {
    background-image: url("../img/bg-card2-04-mob@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-card2-04-mob@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-card2-04-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-card2-04-desktop@2x.jpg");
      }
    }
  }

  &--bg5 {
    background-image: url("../img/bg-card2-05-mob@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-card2-05-mob@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-card2-05-desktop@1x.jpg");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-card2-05-desktop@2x.jpg");
      }
    }
  }
}

.card2__inner {
  margin-top: -10px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 20px;
  }
}

.card2__inner-title {
  margin-bottom: 15px;
  text-transform: none;
  letter-spacing: -1px;
}

.card2__item {
  @media (min-width: $tablet-width) {
    padding-right: 40px;
  }
}
