.card1 {
  outline: 1px dotted red;

  position: relative;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 45px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
  }

  &--first-child::before {
    content: "Start";
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size--large;
    font-weight: 300;
    color: $color-second;

    @media (min-width: $tablet-width) {
      top: -20px;
      left: auto;
      right: 80px;
      transform: none;
    }
  }

  &--first-child::after {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: radial-gradient($color-second 5px, $color-second-2 5px);

    @media (min-width: $tablet-width) {
      top: 20px;
      left: auto;
      right: 95px;
      transform: none;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &--last-child::before {
    content: "Finish";
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size--large;
    font-weight: 300;
    color: $color-second;

    @media (min-width: $tablet-width) {
      top: 50%;
      left: 27.5%;
      bottom: auto;
      transform: none;
    }
  }

  &--last-child::after {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: radial-gradient($color-second 5px, $color-second-2 5px);

    @media (min-width: $tablet-width) {
      top: 40%;
      left: 30%;
      bottom: auto;
      transform: none;
    }
  }

  &:nth-child(2n + 3) {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: -80px;
    }
  }
}

.card1__img {
  display: block;
  width: 290px;
  height: auto;
  margin-bottom: 15px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }
}

.card1__body {
  outline: 1px dotted green;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 350px;
    text-align: left;
  }
}

.card1__title {
  margin-bottom: 20px;
}
