.card1 {
  position: relative;
  width: 290px;
  margin: 0 auto;
  margin-bottom: 45px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
  }

  &--first-child::before {
    content: "Start";
    position: absolute;
    top: -105px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size--large;
    font-weight: 300;
    color: $color-second;

    @media (min-width: $tablet-width) {
      top: -20px;
      left: auto;
      right: 80px;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      top: 10px;
      left: auto;
      right: 280px;
      transform: none;
    }
  }

  &--first-child::after {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: radial-gradient($color-second 5px, $color-second-2 5px);

    @media (min-width: $tablet-width) {
      top: 20px;
      left: auto;
      right: 95px;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      top: 50px;
      left: auto;
      right: 295px;
      transform: none;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-end;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  &--last-child::before {
    content: "Finish";
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size--large;
    font-weight: 300;
    color: $color-second;

    @media (min-width: $tablet-width) {
      top: 230px;
      left: 27.5%;
      bottom: auto;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      top: 150px;
      left: 230px;
    }
  }

  &--last-child::after {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: radial-gradient($color-second 5px, $color-second-2 5px);

    @media (min-width: $tablet-width) {
      top: 195px;
      left: 30%;
      bottom: auto;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      top: 110px;
      left: 255px;
    }
  }

  &:nth-child(2n + 3) {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      padding-right: 0;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: -30px;
    }
  }

  &--mt {
    @media (min-width: $desktop-width) {
      margin-top: -40px;
    }
  }
}

.card1__img {
  display: block;
  width: 290px;
  height: auto;
  margin-bottom: 15px;
  object-fit: cover;
  font-family: 'object-fit: cover;';/* stylelint-disable-line */

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
  }
}

.card1__body {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-left: 25px;
  }

  &--one {
    @media (min-width: $tablet-width) {
      width: 370px;
    }
  }

  &--two {
    @media (min-width: $tablet-width) {
      width: 300px;
    }

    @media (min-width: $desktop-width) {
      width: 325px;
    }
  }

  &--three {
    @media (min-width: $tablet-width) {
      width: 370px;
    }
  }

  &--last {
    @media (min-width: $tablet-width) {
      padding-left: 440px;
    }

    @media (min-width: $desktop-width) {
      width: 325px;
      padding-left: 25px;
    }
  }
}

.card1__title {
  margin-bottom: 15px;
  text-transform: none;
}
