.circle {
  position: absolute;
  top: -475px;
  left: -715px;

  @media (min-width: $tablet-width) {
    top: -160px;
    left: -420px;
  }

  @media (min-width: $desktop-width) {
    top: -160px;
    left: -45px;
  }
}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 750px;
  font-size: $font-size--smaller;
  color: $gray--lighten;
  transform-origin: bottom center;

  @media (min-width: $tablet-width) {
    height: 830px;
  }
}

.circle__char1 {
  transform: rotate(70deg);

  @media (min-width: $tablet-width) {
    transform: rotate(40deg);
  }
}

.circle__char2 {
  transform: rotate(72deg);

  @media (min-width: $tablet-width) {
    transform: rotate(41.5deg);
  }
}

.circle__char3 {
  transform: rotate(74deg);

  @media (min-width: $tablet-width) {
    transform: rotate(43deg);
  }
}

.circle__char4 {
  transform: rotate(76deg);

  @media (min-width: $tablet-width) {
    transform: rotate(44.5deg);
  }
}

.circle__char5 {
  transform: rotate(78deg);

  @media (min-width: $tablet-width) {
    transform: rotate(46deg);
  }
}

.circle__char6 {
  transform: rotate(80deg);

  @media (min-width: $tablet-width) {
    transform: rotate(47.5deg);
  }
}

.circle__char7 {
  transform: rotate(82deg);

  @media (min-width: $tablet-width) {
    transform: rotate(49deg);
  }
}

.circle__char8 {
  transform: rotate(84deg);

  @media (min-width: $tablet-width) {
    transform: rotate(50.5deg);
  }
}

.circle__char9 {
  transform: rotate(86deg);

  @media (min-width: $tablet-width) {
    transform: rotate(52deg);
  }
}

.circle__char10 {
  transform: rotate(88deg);

  @media (min-width: $tablet-width) {
    transform: rotate(53.5deg);
  }
}

.circle__char11 {
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    transform: rotate(55deg);
  }
}

.circle__char12 {
  transform: rotate(92deg);

  @media (min-width: $tablet-width) {
    transform: rotate(56.5deg);
  }
}

.circle__char13 {
  transform: rotate(94deg);

  @media (min-width: $tablet-width) {
    transform: rotate(58deg);
  }
}

.circle__char14 {
  transform: rotate(96deg);

  @media (min-width: $tablet-width) {
    transform: rotate(59.5deg);
  }
}

.circle__char15 {
  transform: rotate(98deg);

  @media (min-width: $tablet-width) {
    transform: rotate(61deg);
  }
}
