.contacts {
  outline: 1px dotted darkmagenta;

  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
  }
}

.contacts__content {
  font-size: $font-size--larger;
  font-weight: 600;
  color: $gray--dark;
}
