.logo {
  display: block;
  width: 58px;
  height: 58px;
  object-fit: cover;
  margin-right: 50px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    width: 160px;
    height: 58px;
    margin-right: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 247px;
    height: 89px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
