.page-header {
  min-height: 500px;
  margin: 0 auto;
}

.page-header__wrap {
  outline: 1px dotted red;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 720px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1145px;
  }
}

.page-header__start {
  outline: 1px dotted blue;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 130px;
    padding-top: 10px;
  }
}

.page-header__text {
  outline: 1px dotted green;

  position: relative;
  line-height: $line-height-auto;
  letter-spacing: 11px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-right: -60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: -30px;
    font-size: $font-size--larger;
    letter-spacing: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    width: 271px;
    height: 14px;
    background-image: url("../img/bg-blur-mob@1x.png");
    background-size: cover;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-blur-mob@2x.png");
    }

    @media (min-width: $tablet-width) {
      width: 351px;
      height: 14px;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../img/bg-blur-tab@1x.png");
    }
  }
}

.page-header__text-tel {
  outline: 1px dotted green;

  margin-top: 15px;
  font-size: $font-size--larger;
  font-weight: 500;
  line-height: $line-height-auto;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size--large;
  }
}

.page-header__intro {
  outline: 1px dotted #666666;
  width: 290px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    margin-left: 0;
    text-align: left;
  }
}

.page-header__title {
  line-height: 1em;
  text-align: left;
  letter-spacing: 2px;
  color: $color-second;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 8px;
  }

  @media (min-width: $desktop-width) {

    font-size: $font-size-h1 + 78px;
    text-align: left;
  }
}

.page-header__slogan {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: $font-size-h2 + 2px;
  line-height: 1em;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -2px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-weight: 800;
    letter-spacing: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -20px;
    margin-bottom: 40px;
    font-size: $font-size-h2 + 32px;
  }
}

.page-header__wrapper {
  outline: 1px dotted lawngreen;

  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    margin-left: 10px;
    margin-bottom: 65px;
  }
}

.page-header__time {
  outline: 1px dotted green;

  width: 195px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;

  font-weight: 800;
  color: #000000;

  background-image: url("../img/bg-three-days@1x.png");
  background-size: contain;
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-three-days@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 205px;
  }
}

.page-header__time-inner {
  font-size: $font-size--smaller;
}

.page-header__time-text {
  background: #000;

  width: 85px;
  font-style: italic;
  font-weight: 300;
  font-size: $font-size--smaller;
  line-height: $line-height-auto;
  text-align: left;
  color: #ffffff;


}
