.page-footer {
  padding: 35px 15px 50px 15px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.page-footer__wrap {
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    align-items: flex-start;
    padding-left: 140px;
  }
}

.page-footer__privacy {
  display: inline-block;
  margin-bottom: 50px;

  font-size: $font-size--smaller;
  color: $gray--dark;
  border-bottom: 1px dashed $gray--dark;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: $line-height-auto;
    margin: 0;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -65px;
  }
}

.page-footer__wrap-logo {
  outline: 1px dotted green;

  position: relative;
  width: 156px;
  height: 56px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: -1;
    margin: 0;
  }
}

.page-footer__logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__copyright {
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-20%);

  font-size: $font-size--smaller;
  font-weight: 600;
  color: $gray--dark;

  @media (min-width: $desktop-width) {
    position: relative;
    display: inline-block;
    bottom: auto;
    left: 0;
    transform: none;
  }
}
