.parallax {
  perspective: 1px;
  height: 626px;
  overflow-x: hidden;
  overflow-y: auto;

  @media (min-width: $tablet-width) {
    height: 560px;
  }

  @media (min-width: $desktop-width) {
    height: 940px;

    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      /*WebKit*/
      width: 0;
    }
  }
}

.parallax__group {
  position: relative;
  height: 626px;
  transform-style: preserve-3d;

  @media (min-width: $tablet-width) {
    height: 560px;
  }

  @media (min-width: $tablet-width) {
    height: 940px;
  }
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
  padding-top: 10px;
}

.parallax__layer--back {
  transform: translateZ(-2px) scale(3);

  background-color: $color-bg-page-header;
  background-image: url("../img/bg-header-mob@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-header-mob@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 560px;
    background-image: url("../img/bg-header-tab@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-header-tab@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 940px;
    background-image: url("../img/bg-header-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-header-desktop@2x.jpg");
    }
  }
}
