.slider-wrap {
  min-height: 200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 35px;

  background-image: url("../img/bg-slider-body-mob@1x.png");
  background-position: center;
  background-size: 100% 100%;
  box-shadow: 0 9px 76px 0 rgba(0, 0, 0, 0.1);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-slider-body-mob@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 730px;
    padding: 66px 40px 50px 46px;

    background-color: transparent;
    background-image: url("../img/bg-slider-body-tab@1x.png");
    box-shadow: 0 9px 76px 0 rgba(0, 0, 0, 0.1);

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-slider-body-tab@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 1167px;
    min-height: 479px;
    padding-top: 15px;
    padding-left: 20px;

    background-image: url("../img/bg-slider-body-desktop@1x.png");
    box-shadow: 0 9px 76px 0 rgba(0, 0, 0, 0.1);

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-slider-body-desktop@2x.png");
    }
  }
}

.slider__inner {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.slider__img {
  display: block;
  margin: 20px auto 30px auto;

  width: 117px;
  height: 156px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 193px;
    margin: 0;
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 265px;
    margin-right: 0;
  }
}

.slider__item {
  width: 290px;
  margin: 0 auto;

  display: none;

  &--active {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      width: auto;
    }

    @media (min-width: $desktop-width) {
      width: 1140px;
      padding: 75px 105px 25px 80px;
    }
  }
}

.slider__body {
  width: 290px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 520px;
    margin: 0;
    padding-left: 15px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 710px;
    padding-left: 0;
  }
}

.slider__title {
  margin-bottom: 20px;
  text-transform: none;
}

.slider__descr {
  max-height: 150px;
  overflow: hidden;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    max-height: 140px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    max-height: 165px;
  }

  &--shown {
    max-height: 500px;
    transition: max-height $transition-time--show;
    transition-timing-function: linear;
  }
}

.slider__descr-btn {
  outline: none;
  position: relative;
  width: auto;
  margin-bottom: 20px;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: 400;
  color: $gray-base;
  background: transparent;
  border: none;
  border-bottom: 1px dashed $gray-base;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    left: auto;
    width: 5px;
    height: 1px;
    background: $gray-base;
    transform: rotate(45deg); /* stylelint-disable-line */
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 5px;
    height: 1px;
    background: $gray-base;
    transform: rotate(-45deg); /* stylelint-disable-line */
  }

  &:hover {
    color: $color-second;
    border-bottom-color: $color-second;
  }

  &:hover::before,
  &:hover::after {
    background: $color-second;
  }
}

.slider__control-wrap {
  position: relative;
  display: flex;
  width: 290px;
  height: 50px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.slider__control-prev,
.slider__control-next {
  position: absolute;
  top: 0;
  height: 50px;
  padding: 0;
  border: none;
  font-size: 0;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.slider__control-prev {
  left: 0;
  width: 75px;
  background-image: url("../img/bg-pagination-prev@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-pagination-prev@2x.png");
  }

  @media (min-width: $desktop-width) {
    left: 35px;
  }

  &:hover {
    background-image: url("../img/bg-pagination-prev-hover@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-prev-hover@2x.png");
    }
  }
}

.slider__control-next {
  right: 0;
  width: 95px;
  background-image: url("../img/bg-pagination-next@1x.png");

  &:hover {
    background-image: url("../img/bg-pagination-next-hover@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-next-hover@2x.png");
    }
  }
}

.slider__indicator-wrap {
  display: flex;
  justify-content: space-between;

  width: 120px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 30px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 25px;
  }
}

.slider__indicator {
  display: block;
  width: 20px;

  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:nth-child(1) {
    background-image: url("../img/bg-pagination-btn-01@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-btn-01@2x.png");
    }

    &:hover {
      background-image: url("../img/bg-pagination-btn-01-hover@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-pagination-btn-01-hover@2x.png");
      }
    }
  }

  &:nth-child(2) {
    background-image: url("../img/bg-pagination-btn-02@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-btn-02@2x.png");
    }

    &:hover {
      background-image: url("../img/bg-pagination-btn-02-hover@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-pagination-btn-02-hover@2x.png");
      }
    }
  }

  &:nth-child(3) {
    background-image: url("../img/bg-pagination-btn-03@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-btn-03@2x.png");
    }

    &:hover {
      background-image: url("../img/bg-pagination-btn-03-hover@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-pagination-btn-03-hover@2x.png");
      }
    }
  }

  &:nth-child(4) {
    background-image: url("../img/bg-pagination-btn-04@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-btn-04@2x.png");
    }

    &:hover {
      background-image: url("../img/bg-pagination-btn-04-hover@1x.png");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/bg-pagination-btn-04-hover@2x.png");
      }
    }
  }

  &--active {
    display: block;
    width: 20px;

    background-image: url("../img/bg-pagination-btn-01-hover@1x.png");
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-pagination-btn-01-hover@2x.png");
    }
  }
}
