.video {
  outline: 1px dotted blue;
  display: none;
  margin: 0 auto;

  &--mob {
    display: block;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tab {
    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desk {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.video__wrap {
  margin-top: 20px;
  margin-bottom: 50px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}
