//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Open Sans",  "Arial", sans-serif;
$font-family-h1: "Besom",  "Arial", sans-serif;

$font-size-h1: 102px;
$font-size-h2: 36px;
$font-size-h3: 20px;
//$font-size-h4: px;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
//$font-size--x-large: px;
//$font-size--large: px;
$font-size--larger: 18px;
$font-size: 16px;
//$font-size--smaller: px;
//$font-size--small: px;

$line-height: 1.5em;
$line-height-auto: 1.2em;

//================
/*Gray and brand colors*/
//================

//$color-main--lightest: ;
//$color-main--lighten: ;
//$color-main--light: ;
//$color-main: #283645;
//$color-main--dark: ;
//$color-main--darken: ;
//$color-main--darkest: ;

//$color-second--lightest: ;
//$color-second--lighten: ;
//$color-second--light: ;
//$color-second: ;
//$color-second--dark: ;
//$color-second--darken: ;
//$color-main--darkest: ;

// $gray--lightest: ;
//$gray--lighten: ;
//$gray--light: ;
//$gray-base: ;
//$gray--dark: ;
//$gray--darken: ;
//$gray--darker: ;
//$gray--darkenest: ;
//$gray--darkest: ;

//$text-color: ; // Global text color on <body>;


//=============================
//===Components===
//=============================
//$content-width: ;

//$padding-base-vertical:;
//$padding-base-horizontal: ;

//$border-radius-base: ;


//=============================
//===Links====
//=============================
//$link-color: ;
//$link-color--active: ;
//$link-color--hover: ;
//$link-color--down: ;


//=============================
//===Buttons===
//=============================

//$btn-padding-vertical--large: px;
//$btn-padding-horizontal--large: px;
$btn-padding-vertical: 20px;
$btn-padding-horizontal: 90px;
//$btn-padding-vertical--small: px;
//$btn-padding-horizontal--small: px;

$btn-font-size: 18px;
//$btn-line-height: em;
//$btn-font-wight: ;

// $btn-color: ;
// $btn-color-hover: ;
// $btn-color-active: ;

//$btn-border: ;

//$btn-bg: ;
//$btn-bg-hover: ;
//$btn-bg-active: ;


//$btn-border-radius-base: ;

//$btn-border-color-base: ;

//=============================
//===Slider====
//=============================
//$slider-btn--base: ;
//$slider-btn--hover: ;
//$slider-btn--active: ;

//$slider-toggle: ;
//$slider-toggle--active: ;
//$slider-toggle--hover: ;
//$slider-toggle--down: ;


//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 765px;
$desktop-width: 1200px;

//=============================
//===Animate===
//=============================
//$transition-time ;
$transition-time--show: 0.2s;
