//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Open Sans", "Arial", sans-serif;
$font-family-h1: "Besom", "Arial", sans-serif;

$font-size-h1: 102px;
$font-size-h2: 36px;
$font-size-h3: 20px;

$font-size--large: 24px;
$font-size--larger: 18px;
$font-size: 16px;
$font-size--smaller: 14px;

$line-height: 1.5em;
$line-height-auto: 1.2em;

//================
/*Gray and brand colors*/
//================

$gray--lightest: #fdfdfd;
$gray--lighten: #cccccc;

$gray-base: #4c4c4c;
$gray--dark: #3c313b;
$gray--darken: #32383f;

$text-color: $gray-base; // Global text color on <body>;

$color-main: $gray-base;

$color-second: #ff0000;
$color-second-2: rgba(255, 0, 0, 0.1);
$color-error-bg: rgba(255, 0, 0, 0.15);
$color-error-border: rgba(255, 0, 0, 0.3);

$color-bg-page-header: #9c8685;
$color-bg-block7: #f9e7d8;
$color-bg-photo: #80643a;

//=============================
//===Buttons===
//=============================

$btn-padding-vertical-top: 20px;
$btn-padding-vertical-bottom: 30px;

$btn-font-size: 18px;

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 765px;
$desktop-width: 1200px;

//=============================
//===Animate===
//=============================

$transition-time--show: 0.2s;
$transition-time--overlay: 0.6s;
